<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{preheader}">
    <f:switch expression="{layout}">
        <f:case value="1">
            <span class="ce-preheadline-bc {positionClass} {class}">
                {preheader->f:format.raw()}
            </span>
        </f:case>
        <f:case value="2">
            <strong class="ce-preheadline-bc {positionClass} {class}">
                {preheader->f:format.raw()}
            </strong>
        </f:case>
        <f:case value="3">
            <p class="ce-preheadline-bc {positionClass} {class}">
                {preheader->f:format.raw()}
            </p>
        </f:case>
        <f:case value="4">
            <div class="ce-preheadline-bc {positionClass} {class}">
                {preheader->f:format.raw()}
            </div>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default}">
                <f:render partial="Header/PreHeader" arguments="{
                    preheader: preheader,
                    positionClass: positionClass,
                    layout: default}" />
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:if>
</html>
